body{
    padding: 0;
    margin: 0;
    background-color: yellow;
    
}
.container{
    width: max(30%,200px);
    height: 200px;
    margin: 200px auto;
    background-color: white;
   position: relative;
    border-radius: 16px;
    box-shadow: 0 6px 8px black;
}
.emojis{
    position: absolute;
   display: flex;
   width: 48px;
   overflow: hidden;
   left: 50%;
   transform: translateX(-50%);
   top: 20%;
    font-size: 48px;
}
.ratings{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 16%;
   transform: translateX(-50%);
    font-size: 44px;
    color: gray;
    cursor: pointer;
    background: transparent;
}
.emojis i{
    transform: translateX(0);
    transition: transform 0.3s;
}
.active{
    color: gold;
   
}